body {
  background-color: aqua;
}
h1 {
  color: azure;
}
@media screen and (max-width: 212px) {
  body {
    background-color: blueviolet;
  }
  h1 {
    border: 1px solid red;
  }
}
@media screen and (min-width: 212px) and (max-width: 400px) {
  body {
    background-color: red;
  }
}
@media screen and (min-width: 401px) and (max-width: 570px) {
  body {
    background-color: salmon;
  }
}
@media screen and (min-width: 571px) and (max-width: 680px) {
  body {
    background-color: rgb(248, 122, 12);
  }
}
@media screen and (min-width: 681px) and (max-width: 717px) {
  body {
    background-color: rgb(57, 23, 247);
  }
}
